:root {
    --letraeborda: #FFE3E3;
    --fundo: #3C3131;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: white;
    max-width: 1120px;
    margin: 0 auto;   
}

.quadrado{
    background-color: var(--fundo); 
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    padding: 30px 30px;
}

.grupo {
    border-color: var(--letraeborda);
    width: 400px;
    margin-left: -9.5px;
    padding: 40px 30px; 
}

#titulo {
    font-family: 'Roboto Condensed', sans-serif;
    color: var(--letraeborda);
    margin-top: auto;
    text-align: center;
}

#subtitulo {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: var(--letraeborda);
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
}

.input {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input input {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 13px;
    margin-bottom:20px;
    padding: 8px;
    border: none;
}

.msg textarea {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 13px;
    margin-bottom: 15px;
    padding: 8px;   
    border: none;
}

button {
    cursor: pointer;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 13px;
    background: var(--letraeborda);
    color: var(--fundo);
    border: none;
    padding: 8px;
    margin-left: 100px;
    margin-right: 100px;
}
    
